apiVersion: v1
kind: Service
metadata:
  name: grpc-server
  namespace: test
spec:
  type: ClusterIP
  selector:
    app: grpc-server
  ports:
  - name: grpc
    port: 9000
    targetPort: 9000
    protocol: TCP

